*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  width: 62.37%;
  margin-bottom: auto;
  justify-content: space-between;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-top: 80px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__details { 
  margin-top: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.content__list {
  position: relative;
  height: 298px; 
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-position: center;
  height: 103px;
  width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 200px;
  hyphens: auto;  
} 

.title {
  font-size: 75px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  line-height: 70.5px;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 5px
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description { 
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

fieldset {
  border-style: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  width: 19px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: #FFFFFF;
}

.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFFFFF;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
  border-left: 1px solid currentColor;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  margin-top: 20px;
  padding-left: 73px;
  padding-right: 73px;
}

.search-form__textfield {
  border: none;
  background-color: transparent;
  width: 225px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #FFFFFF;
  padding-left: 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}


.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current:first-child {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}